/* GENERAL */
body {
    background: #f5f4f4;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.text {
    padding-top: 24px;
    background: #ffffff;
    width: 58%;
    margin: auto;
    position: relative;
    border-radius: 14px;
}

article.dividir{
    height: 3px;
    background: #3e50a9;
    width: 95%;
    margin: auto;
    border-radius: 21px;
    position: relative;
}

article.indicadores{
    
    margin: auto;
    width: 100%;
    height: 110px;
}
.row{
    position: relative;
    display: flex;
    align-items: center;
}

.col-6 {
    margin: auto;
    position: relative;
    display: table-column;
}

.text.h-min {
    padding: 7px 0px;
}

.t-10{
    position: relative;
    top: 10px;
}

.mt-24{
    margin-top: 24px!important;

}

.w-60-p {
    width: 60%!important;
    margin-left: 0px;
}

.contenido {
    font-size: 42px;
}

/* SECCIÓN IZQUIERDA */
section.contenedor {
    height: 90vh;
    width: 94vw;
    background: #f5f4f4;
    margin: auto;
    position: relative;
    top: 5vh;
    border-radius: 10px;
    box-shadow: 19px 16px 30px #cccccc85, -19px -16px 30px #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}

article.lateral_izquierdo {
    height: 100%;
    width: 30%;
    border-right: 2px solid #c0c0c0;
    background-color: #465bbf;
    color: white;
}

section.detalle-usuario{
    height: 100%;
    position: relative;
}

article.foto{
    height: 100px;
    padding: 25px 0px 10px;
}

.foto-perfil{
    height: 95px;
    width: 95px;
    overflow: hidden;
    margin: auto;
    position: relative;
    box-shadow: 10px 6px 20px #33428a, -3px -4px 20px #637cf5;
    padding: 10px;
    background: #465bbf;
    border-radius: 50%;
}

img.img-perfil{
    height: 100%;
    position: relative;
    margin: auto;
    border-radius: 50%;
}

article.nombre{
    text-align: center;
    font-size: 26px;
    position: relative;
    margin-top: 28px;
}

.etiqueta{
    padding: 10px 0px;
    margin-right: auto;
    margin-left: 10px;
    background: #fff0f0cc;
}

article.cajas {
    /* background: black; */
    height: 100%;
    margin-top: 24px;
    overflow: hidden;
}

.caja {
    background: #596fd6;
    height: 74px;
    width: calc(90% - 12px);
    margin: 10px auto;
    border-radius: 6px;
    padding: 12px;
    display: flex;
    align-items: center;

}

.contenido-caja {
    width: 100%;
}

.menu {
    width: 20px;
    align-items: end;
    display: flow-root;
    height: 100%;
}

.menu img{
    height: 24px;
    position: relative;
    bottom: 3px;
    left: 7px;
}

.text.line.parrafo {
    padding: 7px 0px;
    margin-bottom: 6px;
    width: 100%;
    background: #465bbf94;
}

.fecha-caja {
    position: relative;
    margin-top: 24px;
}

.text.fecha {
    padding: 7px 0px;
    margin-left: 1px;
    width: 68px;
}


article.contenido-general {
    width: 100%;
    height: 100%;
}



/* SECCIÓN DERECHA */

article.caja-info {
    box-shadow: 6px 6px 14px #e2e2e2, -6px -6px 14px #ffffff;
    width: calc(30% - 11px);
    height: 77px;
    margin: 24px auto;
    border-radius: 14px;
    padding: 12px;
}

section.cajas-info {
    display: flex;
    align-items: center;
    padding: 0px 1%;
}

section.graficas-contenido {
    width: 95%;
    margin: auto;
    height: 52%;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 6px 6px 14px #e2e2e2, -6px -6px 14px #ffffff;
    display: flex;
    align-items: center;
}

article.grafica {
    background ;
    width: 70%;
    height: 100%;
    
}

#speedChart{
    height: auto!important;
    width: 100%!important;
    top: calc(100% - 45vh);
    position: relative;
}

article.contenedor-caja-grafica {
    height: 90%;
    width: 100%;
    max-width: 285px;
    position: relative;
    padding: 0px 16px;
}

.cajas-graficas {
    background: #465bbf;
    width: 100%;
    height: 100px;
    margin: auto;
    border-radius: 14px;
    margin: 12px 0px;
}

.num2 {
    text-align: center;
    color: white;
    padding: 18px;
}

.text.line.r {
    margin-right: 12px;
    padding: 7px;
    position: relative;
    bottom: 7px;
    width: 85%;
}

section.banner-footer {
    box-shadow: 6px 6px 14px #e2e2e2, -6px -6px 14px #ffffff;
    height: 75px;
    width: 95%;
    margin: 25px auto;
    border-radius: 17px;
    position: relative;
}

.p-24 {
    padding: 12px;
}

.w-40-p {
    width: 66%!important;
    margin-left: 1px;
}

.text.line.fecha {
    background: #465bbf;
    position: absolute;
    bottom: 16px;
    width: 119px;
}

section.banner-footer img {
    position: absolute;
    right: 22px;
    top: -4px;
}


/* MEDIA QUERY */

@media (max-width: 900px) {
    section.graficas-contenido {
        display: inherit;
        height: fit-content;
    }

    article.contenedor-caja-grafica {
        display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: inherit;
    padding: 0px;
    }

    article.grafica {
        margin: auto;
        width: 95%;
    }

    .cajas-graficas.contenido {
        margin: 12px 12px;
    }
    

    body{
        background-color: black;
    }
  }
